<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Omac</title>
    <link rel="stylesheet" href="/static/style.css?reload">
</head>
<body>
    <container>
        <header>
            <h1>One Million Arab Coders</h1>
            <h4>Done By : Seyf-Eddine.Mz</h4>
            <ul>
                <li class="profile">Profile</li>
                <li class="members">Member's list</li>
            </ul>
        </header>
        <br />
        <content>

            <h2 class="title">{{post.title}} <a href="{{ url_for('topic_edit', id = post.id) }}">Edit</a></h2>
            <p class="content">{{post.content}}</p>
        </content>
    </container>
</body>
</html>
