<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Topic</title>
    <link rel="stylesheet" href="/static/style.css?reload">
</head>
<body>
    <header>
        <h1>One Million Arab Coders</h1>
        <h4>Done By : Seyf-Eddine.Mz</h4>
        <ul>
            <li class="profile">Profile</li>
            <li class="members">Member's list</li>
        </ul>
    </header>
     <br />
    <content>
        <add class="selected">Create new +</add>
        <br /><br/><br/>
        <div class="topic_add_form">
            <form action="{{ url_for('topic_add') }}" class="add" method="post">
                <input type="text" name="title" placeholder="Topic title">
                <br/><br/>
                <textarea name="content" placeholder="Write topic content here..."></textarea>
                <br/>
                <button type="submit" id="submit_button">Add topic</button>
            </form>
        </div>
    </content>
</body>
</html>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script>
   $(function ()
    {
        $("form").submit(function (event)
        {
            event.preventDefault();
            var topicTitle = $("input[name='title']").val();
            var topicContent = $("textarea[name='content']").val();
            var topicData = {
                "title": topicTitle,
                "content": topicContent
                };
            $.ajax({
                type: "POST",
                url: "/api/topic/add",
                data: JSON.stringify(topicData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response)
                {
                    alert("Added topic successfully !");
                }
            });
        });
    });
</script>
